p {
	font-family: Georgia;
	font-size: 20px;
	color: #572fa7;
}
h1 {
	font-family: Arial;
	color: #3cb333;
	text-align: center;
	font-size:20px;
}
body {
	font-size:12px;
	background-color: rgb (236,233,146);
} 
b {
	color:red;

}
i {
	font-size:18px;
	border-color: #37c3c1;
}
h2 {
	color:blue;
}
iframe {border: thin;
}
figcaption {
	background-color: yellow:thin;
}